<?xml version="1.0" encoding="UTF-8"?>
<module id="10182" version="2016052300">
  <modulename>certificate</modulename>
  <sectionid>2783</sectionid>
  <sectionnumber>6</sectionnumber>
  <idnumber></idnumber>
  <added>1431638221</added>
  <score>0</score>
  <indent>0</indent>
  <visible>1</visible>
  <visibleoncoursepage>1</visibleoncoursepage>
  <visibleold>1</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <completion>0</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionpassgrade>0</completionpassgrade>
  <completionview>0</completionview>
  <completionexpected>0</completionexpected>
  <availability>{"op":"&amp;","showc":[true,true,true,true,true,true,true,true,true,true],"c":[{"type":"completion","cm":10160,"e":1},{"type":"completion","cm":10164,"e":1},{"type":"completion","cm":10165,"e":2},{"type":"completion","cm":10167,"e":1},{"type":"completion","cm":10168,"e":2},{"type":"completion","cm":10170,"e":1},{"type":"completion","cm":10171,"e":2},{"type":"completion","cm":10173,"e":1},{"type":"completion","cm":10174,"e":2},{"type":"completion","cm":10176,"e":1}]}</availability>
  <showdescription>0</showdescription>
  <downloadcontent>1</downloadcontent>
  <lang></lang>
  <tags>
  </tags>
</module>